{% extends 'base.html' %}

{% block style %}
  <style>
    li.htmx-swapping {
      opacity: 0;
      transition: opacity 1s ease-out;
    }
  </style>
{% endblock %}

{% block content %}
<div class="text-center lg:text-left">
  It demonstrates how to take the output of k-means clustering on the Iris dataset using scikit-learn, parameterizing the number of clusters and the variables to plot.
  The entire clustering and plotting pipeline is expressed as a single reactive function that responsively returns an updated plot when one of the widgets changes.
  The x marks the center of the cluster.
<div class="card lg:card-side bordered">
  <div class="card-body">
    <form>
    <div class="card-actions">
      <select class="select select-bordered w-full max-w-xs" name="x"
      >
      {% for col in cols %}
      <option value="{{col}}">{{col}}</option>
      {% endfor %}
      </select> 
    </div>
      <div class="card-actions">
      <select class="select select-bordered w-full max-w-xs" name="x"
      >
      {% for col in cols %}
      <option value="{{col}}">{{col}}</option>
      {% endfor %}
      </select>
    </div>
    <div class="card-actions">
      <input type="range" min="1" max="4" value="3"  id="cluster"   name="cluster"
> 
    </div>
    <button class="btn btn-primary"       
    hx-post="/kmeans"
    hx-target="#viz"
    hx-swap="outterHTML">primary</button> 

  </div> 
</form>
  <figure>
    <div id="viz">
      {% include 'viz/bokeh.html' %}
    </div>   
  </figure>
</div> 
</div>
{% endblock %}
